@media screen and (max-width: 1400px) {
  .container {
    max-width: 1230px;
  }
  .formblock .hero__formblock__form__cols .input {
    width: 290px;
  }
  .header__nav a {
    padding: 0 30px;
  }
}
@media screen and (max-width: 1230px) {
  .sec2__item__head {
    cursor: pointer;
  }
  .hero__formblock__title {
    font-size: 18px;
  }
  .container {
    max-width: 1024px;
  }
  .header .header__nav {
    display: none;
  }
  .header .header__btns {
    display: none;
  }
  .header__hamburger {
    display: block;
  }
  .header {
    padding: 5px 0;
  }
  .header__logo {
    width: 124px;
  }
  .hero {
    padding-bottom: 100px;
  }
  .hero__people {
    position: initial;
    max-width: 382px;
  }
  .thanks {
    padding-bottom: 0;
    height: 400px;
  }
  .thanks .hero__people {
    position: absolute;
    max-width: 382px;
  }
  .thanks .container {
    -webkit-box-pack: start;
            justify-content: flex-start;
  }
  .hero .container {
    padding-top: 28px;
  }
  .hero__title__before {
    font-size: 16px;
  }
  .hero__title {
    font-size: 32px;
    line-height: 120%;
    margin-top: 5px;
  }
  .hero__desc {
    margin-top: 10px;
  }
  .hero__info__item__txt__label {
    font-size: 14px;
  }
  .hero__info__item__txt__val {
    font-size: 16px;
    margin-left: 0;
  }
  .hero__info__item__txt {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: start;
            align-items: flex-start;
  }
  .hero__formblock {
    margin-top: -10px;
  }
  .sec1__videoblock {
    margin-top: 0;
  }
  .sec1__title {
    padding-left: 0;
    font-size: 26px;
  }
  .sec__title {
    font-size: 26px;
  }
  .sec1__content {
    grid-template-columns: 1fr;
    grid-gap: 40px;
  }
  .sec1__videoblock__video__icon {
    width: 91px;
    bottom: -47px;
    left: -17px;
  }
  .sec2__items {
    grid-template-columns: 1fr;
  }
  .sec2__item__head__label {
    font-size: 12px;
  }
  .sec2__item__head__icon {
    width: 30px;
    height: 30px;
    margin-right: 15px;
  }
  .border__block {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    left: 10px;
    top: 10px;
  }
  .sec2__item__head {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
  }
  .sec2__item__head__title {
    font-size: 15px;
  }
  .sec2__item__list {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }
  .hero__formblock__form__cols {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }
  .hero__formblock__form__cols .input {
    width: 100%;
  }
  .hero__formblock__form__col {
    margin-right: 0;
    width: 100%;
    margin-bottom: 10px;
  }
  .hero__formblock__form__col__btn {
    -webkit-box-ordinal-group: 3;
            order: 2;
    margin-bottom: 0;
  }
  .hero__formblock__form__checkbox {
    width: 100%;
    margin-top: 0;
    margin-bottom: 20px;
    margin-top: 10px;
    -webkit-box-ordinal-group: 2;
            order: 1;
  }
  .sec2__items {
    grid-gap: 14px;
    margin-top: 30px;
  }
  .sec2 {
    padding-top: 100px;
  }
  .sec2 .formblock {
    margin-top: 20px;
  }
  .sec8 .formblock__content {
    padding: 25px;
    padding-bottom: 300px;
  }
  .formblock__content {
    padding: 25px;
    padding-bottom: 300px;
  }
  .formblock .hero__formblock__form__cols .input {
    width: 100%;
  }
  .sec3__content {
    grid-template-columns: 1fr;
  }
  .sec4__items {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .sec6__tarifs__items {
    grid-template-columns: 1fr;
  }
  .sec8__content {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    padding-left: 0;
  }
  .sec8__text {
    padding-top: 0;
  }
  .sec8 .formblock {
    margin-top: 34px;
  }
  .sec8 .formblock__img {
    right: initial !important;
  }
  .footer__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }
  .footer .header__nav {
    margin: 26px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }
  .footer .header__nav a {
    padding: 10px 0;
    display: block;
  }
  .footer__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }
  .footer__bottom a {
    padding: 10px 0;
    display: block;
  }
  .formblock__title {
    font-size: 18px;
  }
  .sec6__tarifs__item__title {
    font-size: 24px;
  }
  .sec6__tarifs__item__priceold {
    font-size: 18px;
  }
  .sec6__tarifs__item__priceold strike {
    font-size: 18px;
  }
  .sec6__tarifs__item {
    padding: 20px;
  }
  .sec3__accordion__item__head__icon {
    margin-right: 15px;
  }
}
@media screen and (max-width: 700px) {
  .sec4__items {
    grid-template-columns: 1fr;
  }
  .sec6__slider__item {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: center;
            align-items: center;
  }
  .sec6__slider__item * {
    text-align: center;
  }
  .sec6__slider button.owl-next {
    right: -35px;
  }
  .sec6__slider button.owl-prev {
    left: -35px;
  }
  .sec7__slider button.owl-next {
    right: -35px;
  }
  .sec7__slider button.owl-prev {
    left: -35px;
  }
  .sec1__videoblock__video {
    width: 100%;
  }
  .sec4__item {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: center;
            align-items: center;
  }
}
@media screen and (max-width: 500px) {
  .hero__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: start;
            align-items: flex-start;
  }
  .hero__info__item {
    margin-bottom: 16px;
  }
  .hero__formblock {
    padding: 25px;
  }
  .hero__formblock__raketa {
    width: 100px;
  }
  .hero__people {
    width: 100%;
  }
  .sec8__img {
    height: auto;
    width: 100%;
  }
  .formblock__img {
    max-width: 100%;
    left: 50% !important;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .wave__bottom {
    bottom: -30px;
    height: 40px;
  }
  .wave__top {
    top: -39px;
    height: 40px;
  }
  .footer .wave__top {
    top: -39px;
    height: 40px;
  }
  .modal {
    max-width: 90%;
  }
}
