{% set title = 'Главная - NSA' %}

{% extends 'layouts/_main.html' %}

{% block content %}

<!--=============================== hero ========================================-->
<div class="hero" id="main">
    <div class="container">
        <div class="hero__title__before">Образовательный курс</div>
        <h1 class="hero__title">Детская Нутрициология</h1>
        <div class="hero__desc">Разберём особенности формирования детского организма на всех этапах его взросления.</div>
        <div class="hero__info">
            <div class="hero__info__item">
                <img src="img/calendar.svg" alt="" class="hero__info__item__icon">
                <div class="hero__info__item__txt">
                    <div class="hero__info__item__txt__label">Длительность курса:</div>
                    <div class="hero__info__item__txt__val">2 месяца</div>
                </div>
            </div>
            <div class="hero__info__item">
                <img src="img/finish.svg" alt="" class="hero__info__item__icon">
                <div class="hero__info__item__txt">
                    <div class="hero__info__item__txt__label">Старт:</div>
                    <div class="hero__info__item__txt__val">99 Ноября 2020</div>
                </div>
            </div>
        </div>
        <img src="img/hero__people.png" alt="" class="hero__people">
        <div class="hero__formblock">
            <div class="border__block"></div>
            <img src="img/raketa.png" alt="" class="hero__formblock__raketa">
            <div class="hero__formblock__title">Стань экспертом в области детского питания!</div>
            <form action="" class="hero__formblock__form">
                <div class="hero__formblock__form__cols">
                    <div class="hero__formblock__form__col">
                        <input class="input" type="text" placeholder="Введите ваше имя">
                    </div>
                    <div class="hero__formblock__form__col">
                        <input data-mask="phone" class="input" type="text" placeholder="Введите ваш телефон">
                    </div>
                    <div class="hero__formblock__form__col hero__formblock__form__col__btn">
                        <button class="btn red">Отправить</button>
                    </div>
                    <div class="hero__formblock__form__checkbox">
                        <label for="checkbox1" class="checkbox__label">
                            <input type="checkbox" id="checkbox1" checked>
                            <div class="box">
                                <div class="box__circle"></div>
                            </div>
                        </label>
                        <div class="hero__formblock__form__checkbox__text">Отправляя заявку вы соглашаетесь с <a href="/">политикой конфинденциальности</a></div>
                    </div>
                </div>
                
            </form>
        </div>
    </div>
    
</div>
<!--===============================END hero ========================================-->
<!--=============================== sec1 ========================================-->
<div class="sec1">
    <div class="wave__top"></div>
    <div class="wave__bottom"></div>
    <div class="container">
        <h2 class="sec1__title">Пару слов о курсе</h2>
        <div class="sec1__content">
            <div class="sec1__videoblock">
                <div class="sec1__videoblock__video">
                    <img src="img/video__icon.png" alt="" class="sec1__videoblock__video__icon">
                    <iframe src="https://player.vimeo.com/video/477650784?autoplay=0&amp;title=0&amp;byline=0&amp;portrait=0" style="position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;" frameborder="0" allow="fullscreen" allowfullscreen=""></iframe>
                </div>
            </div>
            <div class="sec1__text">
                <p>С первых лет жизни ребёнка закладывается <strong>фундамент отношений с едой</strong> – формируются привычки, предпочтения и принципы. <strong>Для каждого родителя очень важно</strong> суметь грамотно донести ценность здорового образа жизни своему ребёнку в любом возрасте.</p>
                <p>Именно для этого мы разработали отдельный курс, в котором расскажем <strong>об особенностях развития</strong> организма и психики человека на каждом этапе взросления: <strong>с самого рождения до 17 лет.</strong></p>
            </div>
        </div>
    </div>
</div>
<!--===============================END sec1 ========================================-->
<!--=============================== sec2 ========================================-->
<div class="sec2" id="program">
    <div class="container">
        <h2 class="sec__title">Разберём важные темы поэтапно</h2>
        <div class="sec2__items">
            <!-- sec2__item -->
            <div class="sec2__item">
                <div class="border__block"></div>
                <div class="sec2__item__head" data-accordion-program-link="program-123">
                    <div class="sec2__item__head__icon" style="background-image: url(img/sec2__item__icon-1.svg);"></div>
                    <div class="sec2__item__head__text">
                        <div class="sec2__item__head__label">Модуль 1: </div>
                        <h3 class="sec2__item__head__title">Периодизация жизни человека</h3>
                    </div>
                </div>
                <ul class="sec2__item__list" data-accordion-program-content="program-123">
                    <li><strong>Тема №1.</strong> Биохимия. Периоды жизни человека. Метаболизм.</li>
                    <li><strong>Тема №2.</strong> Физиология. Отличие детского организма от взрослого. Физиологические нормы питания детей и подростков.</li>
                    <li><strong>Тема №3.</strong> Компонентный анализ состава тела. Особенности определения ИМТ у детей и подростков от 2 до 18 лет. Особенности компонентного состава тела у детей по рекомендациям ВОЗ от 0 до 2 лет.</li>
                    <li><strong>Тема №4.</strong> Оценка нутритивного статуса детей и подростков. Методы оценки состояния питания, оценка фактического питания.</li>
                    <li><strong>Тема №4.</strong> Оценка нутритивного статуса детей и подростков. Методы оценки состояния питания, оценка фактического питания.</li>
                    <li><strong>Тема №4.</strong> Оценка нутритивного статуса детей и подростков. Методы оценки состояния питания, оценка фактического питания.</li>
                    <li><strong>Тема №4.</strong> Оценка нутритивного статуса детей и подростков. Методы оценки состояния питания, оценка фактического питания.</li>
                    <li><strong>Тема №4.</strong> Оценка нутритивного статуса детей и подростков. Методы оценки состояния питания, оценка фактического питания.</li>
                    <li><strong>Тема №4.</strong> Оценка нутритивного статуса детей и подростков. Методы оценки состояния питания, оценка фактического питания.</li>
                    <li><strong>Тема №4.</strong> Оценка нутритивного статуса детей и подростков. Методы оценки состояния питания, оценка фактического</li>
                </ul>
            </div>
            <!--END sec2__item -->
            {% for i in range(6, data.numberOfRooms) -%}
            <!-- sec2__item -->
            <div class="sec2__item">
                <div class="border__block"></div>
                <div class="sec2__item__head" data-accordion-program-link="program-{{i}}">
                    <div class="sec2__item__head__icon" style="background-image: url(img/sec2__item__icon-1.svg);"></div>
                    <div class="sec2__item__head__text">
                        <div class="sec2__item__head__label">Модуль 1: </div>
                        <h3 class="sec2__item__head__title">Периодизация жизни человека</h3>
                    </div>
                </div>
                <ul class="sec2__item__list" data-accordion-program-content="program-{{i}}">
                    <li><strong>Тема №1.</strong> Биохимия. Периоды жизни человека. Метаболизм.</li>
                    <li><strong>Тема №2.</strong> Физиология. Отличие детского организма от взрослого. Физиологические нормы питания детей и подростков.</li>
                    <li><strong>Тема №3.</strong> Компонентный анализ состава тела. Особенности определения ИМТ у детей и подростков от 2 до 18 лет. Особенности компонентного состава тела у детей по рекомендациям ВОЗ от 0 до 2 лет.</li>
                    <li><strong>Тема №4.</strong> Оценка нутритивного статуса детей и подростков. Методы оценки состояния питания, оценка фактического питания.</li>
                </ul>
            </div>
            <!--END sec2__item -->
            {%- endfor %}
        </div>
        <div class="formblock">
            <div class="border__block"></div>
            <img src="img/formblock__img-1.png" alt="" class="formblock__img" style="left: 82px;">
            <div class="formblock__content">
                <div class="formblock__title">Начать обучение</div>
                <form action="" class="hero__formblock__form">
                    <div class="hero__formblock__form__cols">
                        <div class="hero__formblock__form__col">
                            <input class="input" type="text" placeholder="Введите ваше имя">
                        </div>
                        <div class="hero__formblock__form__col">
                            <input data-mask="phone" class="input" type="text" placeholder="Введите ваш телефон">
                        </div>
                        <div class="hero__formblock__form__col hero__formblock__form__col__btn">
                            <button class="btn red">Отправить</button>
                        </div>
                        <div class="hero__formblock__form__checkbox">
                            <label for="checkbox3" class="checkbox__label">
                                <input type="checkbox" id="checkbox3" checked>
                                <div class="box">
                                    <div class="box__circle"></div>
                                </div>
                            </label>
                            <div class="hero__formblock__form__checkbox__text">Отправляя заявку вы соглашаетесь с <a href="/">политикой конфинденциальности</a></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--===============================END sec2 ========================================-->
<!--=============================== sec3 ========================================-->
<div class="sec3">
    <div class="wave__top"></div>
    <div class="container">
        <h2 class="sec__title">Разберём важные темы поэтапно</h2>
        <div class="sec3__content">
            <div class="sec3__img" style="background-image: url(img/sec3__img.jpg);"></div>
            <div class="sec3__accordion">
                <!-- sec3__accordion__item -->
                <div class="sec3__accordion__item">
                    <div class="sec3__accordion__item__head" data-accordion-link="1">
                        <div class="sec3__accordion__item__head__icon" style="background-image: url(img/sec3__icon-1.svg);"></div>
                        <div class="sec3__accordion__item__head__title">Родители</div>
                        <div class="sec3__accordion__item__head__arrow"></div>
                    </div>
                    <div class="sec3__accordion__item__text" data-accordion-content="1">
                        <p>•	Понимание развития детского организма на всех этапах взросления</p>
                        <p>•	Навыки формирования детского рациона в зависимости от возраста</p>
                        <p>•	Навыки формирования правильных пищевых привычек у ребёнка</p>
                        <p>•	Экспертные знания в области детской психологии</p>
                        <p>•	Способы решения проблем с аллергией у детей</p>
                    </div>
                </div>
                <!--END sec3__accordion__item -->
                <!-- sec3__accordion__item -->
                <div class="sec3__accordion__item">
                    <div class="sec3__accordion__item__head" data-accordion-link="2">
                        <div class="sec3__accordion__item__head__icon" style="background-image: url(img/sec3__icon-2.svg);"></div>
                        <div class="sec3__accordion__item__head__title">Детские тренера</div>
                        <div class="sec3__accordion__item__head__arrow"></div>
                    </div>
                    <div class="sec3__accordion__item__text" data-accordion-content="2">
                        <p>•	Понимание развития детского организма на всех этапах взросления</p>
                        <p>•	Навыки формирования детского рациона в зависимости от возраста</p>
                        <p>•	Навыки формирования правильных пищевых привычек у ребёнка</p>
                        <p>•	Экспертные знания в области детской психологии</p>
                        <p>•	Способы решения проблем с аллергией у детей</p>
                    </div>
                </div>
                <!--END sec3__accordion__item -->
                <!-- sec3__accordion__item -->
                <div class="sec3__accordion__item">
                    <div class="sec3__accordion__item__head" data-accordion-link="3">
                        <div class="sec3__accordion__item__head__icon" style="background-image: url(img/sec3__icon-3.svg);"></div>
                        <div class="sec3__accordion__item__head__title">Нутрициологи и врачи</div>
                        <div class="sec3__accordion__item__head__arrow"></div>
                    </div>
                    <div class="sec3__accordion__item__text" data-accordion-content="3">
                        <p>•	Понимание развития детского организма на всех этапах взросления</p>
                        <p>•	Навыки формирования детского рациона в зависимости от возраста</p>
                        <p>•	Навыки формирования правильных пищевых привычек у ребёнка</p>
                        <p>•	Экспертные знания в области детской психологии</p>
                        <p>•	Способы решения проблем с аллергией у детей</p>
                    </div>
                </div>
                <!--END sec3__accordion__item -->
            </div>
        </div>
    </div>
</div>
<!--===============================END sec3 ========================================-->
<!--=============================== sec4 ========================================-->
<div class="sec4">
    <div class="container">
        <h2 class="sec__title">Что вы получите в результате?</h2>
        <div class="sec4__items">
            <!-- sec4__item -->
            <div class="sec4__item">
                <img src="img/sec4__icon-1.png" alt="" class="sec4__item__icon">
                <div class="sec4__item__text">Знания в области детской нутрициологии, эндокринологии, аллергологии и психологии</div>
            </div>
            <!--END sec4__item -->
            <!-- sec4__item -->
            <div class="sec4__item">
                <img src="img/sec4__icon-2.png" alt="" class="sec4__item__icon">
                <div class="sec4__item__text">Понимание, как происходит формирование детского организма на всех этапах его взросления</div>
            </div>
            <!--END sec4__item -->
            <!-- sec4__item -->
            <div class="sec4__item">
                <img src="img/sec4__icon-3.png" alt="" class="sec4__item__icon">
                <div class="sec4__item__text">Знания о том, как укрепить детский иммунитет</div>
            </div>
            <!--END sec4__item -->
            <!-- sec4__item -->
            <div class="sec4__item">
                <img src="img/sec4__icon-4.png" alt="" class="sec4__item__icon">
                <div class="sec4__item__text">Понимание, как восполнять дефициты из дошкольного/ школьного питания</div>
            </div>
            <!--END sec4__item -->
            <!-- sec4__item -->
            <div class="sec4__item">
                <img src="img/sec4__icon-5.png" alt="" class="sec4__item__icon">
                <div class="sec4__item__text">Научитесь формировать правильные привычки и правильное отношение к ЗОЖ у ребёнка с ранних лет</div>
            </div>
            <!--END sec4__item -->
            <!-- sec4__item -->
            <div class="sec4__item">
                <img src="img/sec4__icon-6.png" alt="" class="sec4__item__icon">
                <div class="sec4__item__text">Узнаете, как решить проблемы с настроением и возрастными изменениями нервной системы ребёнка</div>
            </div>
            <!--END sec4__item -->
            <!-- sec4__item -->
            <div class="sec4__item">
                <img src="img/sec4__icon-7.png" alt="" class="sec4__item__icon">
                <div class="sec4__item__text">Научитесь оценивать потенциал ребёнка для подбора индивидуальных программ тренировок и образа жизни</div>
            </div>
            <!--END sec4__item -->
        </div>
        <div class="formblock">
            <div class="border__block"></div>
            <img src="img/formblock__img-2.png" alt="" class="formblock__img" style="left: 22px;">
            <div class="formblock__content">
                <div class="formblock__title">Начать обучение</div>
                <form action="" class="hero__formblock__form">
                    <div class="hero__formblock__form__cols">
                        <div class="hero__formblock__form__col">
                            <input class="input" type="text" placeholder="Введите ваше имя">
                        </div>
                        <div class="hero__formblock__form__col">
                            <input data-mask="phone" class="input" type="text" placeholder="Введите ваш телефон">
                        </div>
                        <div class="hero__formblock__form__col hero__formblock__form__col__btn">
                            <button class="btn red">Отправить</button>
                        </div>
                        <div class="hero__formblock__form__checkbox">
                            <label for="checkbox2" class="checkbox__label">
                                <input type="checkbox" id="checkbox2" checked>
                                <div class="box">
                                    <div class="box__circle"></div>
                                </div>
                            </label>
                            <div class="hero__formblock__form__checkbox__text">Отправляя заявку вы соглашаетесь с <a href="/">политикой конфинденциальности</a></div>
                        </div>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</div>
<!--===============================END sec4 ========================================-->
<!--=============================== sec5 ========================================-->
<div class="sec3 sec5">
    <div class="wave__bottom"></div>
    <div class="container">
        <h2 class="sec__title">Как проходит обучение</h2>
        <div class="sec3__content">
            <div class="sec3__img" style="background-image: url(img/sec3__img-2.jpg);"></div>
            <div class="sec3__accordion">
                <!-- sec3__accordion__item -->
                <div class="sec3__accordion__item">
                    <div class="sec3__accordion__item__head" data-accordion-link="4">
                        <div class="sec3__accordion__item__head__title">Живые уроки с преподавателями</div>
                        <div class="sec3__accordion__item__head__arrow"></div>
                    </div>
                    <div class="sec3__accordion__item__text" data-accordion-content="4">
                        <p>•	Понимание развития детского организма на всех этапах взросления</p>
                        <p>•	Навыки формирования детского рациона в зависимости от возраста</p>
                        <p>•	Навыки формирования правильных пищевых привычек у ребёнка</p>
                        <p>•	Экспертные знания в области детской психологии</p>
                        <p>•	Способы решения проблем с аллергией у детей</p>
                    </div>
                </div>
                <!--END sec3__accordion__item -->
                <!-- sec3__accordion__item -->
                <div class="sec3__accordion__item">
                    <div class="sec3__accordion__item__head" data-accordion-link="5">
                        <div class="sec3__accordion__item__head__title">Постоянный доступ к записям уроков, домашние задания</div>
                        <div class="sec3__accordion__item__head__arrow"></div>
                    </div>
                    <div class="sec3__accordion__item__text" data-accordion-content="5">
                        <p>•	Понимание развития детского организма на всех этапах взросления</p>
                        <p>•	Навыки формирования детского рациона в зависимости от возраста</p>
                        <p>•	Навыки формирования правильных пищевых привычек у ребёнка</p>
                        <p>•	Экспертные знания в области детской психологии</p>
                        <p>•	Способы решения проблем с аллергией у детей</p>
                    </div>
                </div>
                <!--END sec3__accordion__item -->
                <!-- sec3__accordion__item -->
                <div class="sec3__accordion__item">
                    <div class="sec3__accordion__item__head" data-accordion-link="6">
                        <div class="sec3__accordion__item__head__title">Удобная образовательная платформа</div>
                        <div class="sec3__accordion__item__head__arrow"></div>
                    </div>
                    <div class="sec3__accordion__item__text" data-accordion-content="6">
                        <p>•	Понимание развития детского организма на всех этапах взросления</p>
                        <p>•	Навыки формирования детского рациона в зависимости от возраста</p>
                        <p>•	Навыки формирования правильных пищевых привычек у ребёнка</p>
                        <p>•	Экспертные знания в области детской психологии</p>
                        <p>•	Способы решения проблем с аллергией у детей</p>
                    </div>
                </div>
                <!--END sec3__accordion__item -->
                <!-- sec3__accordion__item -->
                <div class="sec3__accordion__item">
                    <div class="sec3__accordion__item__head" data-accordion-link="7">
                        <div class="sec3__accordion__item__head__title">Постоянная онлайн-поддержка</div>
                        <div class="sec3__accordion__item__head__arrow"></div>
                    </div>
                    <div class="sec3__accordion__item__text" data-accordion-content="7">
                        <p>•	Понимание развития детского организма на всех этапах взросления</p>
                        <p>•	Навыки формирования детского рациона в зависимости от возраста</p>
                        <p>•	Навыки формирования правильных пищевых привычек у ребёнка</p>
                        <p>•	Экспертные знания в области детской психологии</p>
                        <p>•	Способы решения проблем с аллергией у детей</p>
                    </div>
                </div>
                <!--END sec3__accordion__item -->
                <!-- sec3__accordion__item -->
                <div class="sec3__accordion__item">
                    <div class="sec3__accordion__item__head" data-accordion-link="8">
                        <div class="sec3__accordion__item__head__title">Выжимки из лекций и чек-листы для самостоятельного пользования</div>
                        <div class="sec3__accordion__item__head__arrow"></div>
                    </div>
                    <div class="sec3__accordion__item__text" data-accordion-content="8">
                        <p>•	Понимание развития детского организма на всех этапах взросления</p>
                        <p>•	Навыки формирования детского рациона в зависимости от возраста</p>
                        <p>•	Навыки формирования правильных пищевых привычек у ребёнка</p>
                        <p>•	Экспертные знания в области детской психологии</p>
                        <p>•	Способы решения проблем с аллергией у детей</p>
                    </div>
                </div>
                <!--END sec3__accordion__item -->
            </div>
        </div>
    </div>
</div>
<!--===============================END sec5 ========================================-->
<!--=============================== sec6 ========================================-->
<div class="sec6" >
    <div class="container">
        <h2 class="sec__title">Преподаватели курса</h2>
        <div class="sec6__slider owl-carousel">
            <!-- sec6__slider__item -->
            <div class="sec6__slider__item">
                <img src="img/sec6__icon-1.png" alt="" class="sec6__slider__item__icon">
                <div class="sec6__slider__item__title">Константин <br> Константинопольский</div>
                <div class="sec6__slider__item__desc">Сертификаты и тренинги в области образования от Global TOEFL, University of Cambridge, Университет Квинсленда, Мичиганский Университет, Массачусетский Технологический Университет, Университет Гарварда.</div>
            </div>
            <!--END sec6__slider__item -->
            <!-- sec6__slider__item -->
            <div class="sec6__slider__item">
                <img src="img/sec6__icon-2.png" alt="" class="sec6__slider__item__icon">
                <div class="sec6__slider__item__title">Константин <br> Константинопольский</div>
                <div class="sec6__slider__item__desc">Сертификаты и тренинги в области образования от Global TOEFL, University of Cambridge, Университет Квинсленда, Мичиганский Университет, Массачусетский Технологический Университет, Университет Гарварда.</div>
            </div>
            <!--END sec6__slider__item -->
            <!-- sec6__slider__item -->
            <div class="sec6__slider__item">
                <img src="img/sec6__icon-1.png" alt="" class="sec6__slider__item__icon">
                <div class="sec6__slider__item__title">Константин <br> Константинопольский</div>
                <div class="sec6__slider__item__desc">Сертификаты и тренинги в области образования от Global TOEFL, University of Cambridge, Университет Квинсленда, Мичиганский Университет, Массачусетский Технологический Университет, Университет Гарварда.</div>
            </div>
            <!--END sec6__slider__item -->
            <!-- sec6__slider__item -->
            <div class="sec6__slider__item">
                <img src="img/sec6__icon-2.png" alt="" class="sec6__slider__item__icon">
                <div class="sec6__slider__item__title">Константин <br> Константинопольский</div>
                <div class="sec6__slider__item__desc">Сертификаты и тренинги в области образования от Global TOEFL, University of Cambridge, Университет Квинсленда, Мичиганский Университет, Массачусетский Технологический Университет, Университет Гарварда.</div>
            </div>
            <!--END sec6__slider__item -->
            <!-- sec6__slider__item -->
            <div class="sec6__slider__item">
                <img src="img/sec6__icon-1.png" alt="" class="sec6__slider__item__icon">
                <div class="sec6__slider__item__title">Константин <br> Константинопольский</div>
                <div class="sec6__slider__item__desc">Сертификаты и тренинги в области образования от Global TOEFL, University of Cambridge, Университет Квинсленда, Мичиганский Университет, Массачусетский Технологический Университет, Университет Гарварда.</div>
            </div>
            <!--END sec6__slider__item -->
            <!-- sec6__slider__item -->
            <div class="sec6__slider__item">
                <img src="img/sec6__icon-2.png" alt="" class="sec6__slider__item__icon">
                <div class="sec6__slider__item__title">Константин <br> Константинопольский</div>
                <div class="sec6__slider__item__desc">Сертификаты и тренинги в области образования от Global TOEFL, University of Cambridge, Университет Квинсленда, Мичиганский Университет, Массачусетский Технологический Университет, Университет Гарварда.</div>
            </div>
            <!--END sec6__slider__item -->
            <!-- sec6__slider__item -->
            <div class="sec6__slider__item">
                <img src="img/sec6__icon-1.png" alt="" class="sec6__slider__item__icon">
                <div class="sec6__slider__item__title">Константин <br> Константинопольский</div>
                <div class="sec6__slider__item__desc">Сертификаты и тренинги в области образования от Global TOEFL, University of Cambridge, Университет Квинсленда, Мичиганский Университет, Массачусетский Технологический Университет, Университет Гарварда.</div>
            </div>
            <!--END sec6__slider__item -->
            <!-- sec6__slider__item -->
            <div class="sec6__slider__item">
                <img src="img/sec6__icon-2.png" alt="" class="sec6__slider__item__icon">
                <div class="sec6__slider__item__title">Константин <br> Константинопольский</div>
                <div class="sec6__slider__item__desc">Сертификаты и тренинги в области образования от Global TOEFL, University of Cambridge, Университет Квинсленда, Мичиганский Университет, Массачусетский Технологический Университет, Университет Гарварда.</div>
            </div>
            <!--END sec6__slider__item -->
        </div>
        <div class="sec6__tarifs" id="price">
            <h2 class="sec__title">Сколько это стоит</h2>
            <div class="sec6__tarifs__items">
                <!-- sec6__tarifs__item -->
                <div class="sec6__tarifs__item">
                    <div class="sec6__tarifs__item__title">Дешовенький</div>
                    <ul class="sec6__tarifs__item__list">
                        <li><i>•</i> Понимание развития детского организма на всех этапах взросления</li>
                        <li><i>•</i> Навыки формирования детского рациона в зависимости от возраста</li>
                        <li><i>•</i> Навыки формирования правильных пищевых привычек у ребёнка</li>
                        <li><i>•</i> Экспертные знания в области детской психологии</li>
                        <li><i>•</i> Способы решения проблем с аллергией у детей</li>
                    </ul>
                    <div class="sec6__tarifs__item__priceold">Цена: <strike>1000 Руб</strike></div>
                    <div class="sec6__tarifs__item__price">500 Руб</div>
                    <button class="btn red" data-modal-show="2">Купить</button>
                </div>
                <!--END sec6__tarifs__item -->
                <!-- sec6__tarifs__item -->
                <div class="sec6__tarifs__item">
                    <div class="sec6__tarifs__item__title">Средненький</div>
                    <ul class="sec6__tarifs__item__list">
                        <li><i>•</i> Понимание развития детского организма на всех этапах взросления</li>
                        <li><i>•</i> Навыки формирования детского рациона в зависимости от возраста</li>
                        <li><i>•</i> Навыки формирования правильных пищевых привычек у ребёнка</li>
                        <li><i>•</i> Экспертные знания в области детской психологии</li>
                        <li><i>•</i> Способы решения проблем с аллергией у детей</li>
                        <li><i>•</i> Навыки формирования правильных пищевых привычек у ребёнка</li>
                        <li><i>•</i> Экспертные знания в области детской психологии</li>
                    </ul>
                    <div class="sec6__tarifs__item__priceold">Цена: <strike>1000 Руб</strike></div>
                    <div class="sec6__tarifs__item__price">500 Руб</div>
                    <button class="btn red" data-modal-show="2">Купить</button>
                </div>
                <!--END sec6__tarifs__item -->
                <!-- sec6__tarifs__item -->
                <div class="sec6__tarifs__item">
                    <div class="sec6__tarifs__item__title">Уникум</div>
                    <ul class="sec6__tarifs__item__list">
                        <li><i>•</i> Понимание развития детского организма на всех этапах взросления</li>
                        <li><i>•</i> Навыки формирования детского рациона в зависимости от возраста</li>
                        <li><i>•</i> Навыки формирования правильных пищевых привычек у ребёнка</li>
                        <li><i>•</i> Экспертные знания в области детской психологии</li>
                        <li><i>•</i> Способы решения проблем с аллергией у детей</li>
                        <li><i>•</i> Навыки формирования правильных пищевых привычек у ребёнка</li>
                        <li><i>•</i> Экспертные знания в области детской психологии</li>
                    </ul>
                    <div class="sec6__tarifs__item__priceold">Цена: <strike>1000 Руб</strike></div>
                    <div class="sec6__tarifs__item__price">500 Руб</div>
                    <button class="btn red" data-modal-show="2">Купить</button>
                </div>
                <!--END sec6__tarifs__item -->
            </div>
            
        </div>
    </div>
</div>
<!--===============================END sec6 ========================================-->
<!--=============================== sec7 ========================================-->
<div class="sec7" id="reviews">
    <div class="wave__bottom"></div>
    <div class="wave__top"></div>
    <div class="container">
        <h2 class="sec__title">Отзывы о нас</h2>
        <div class="sec7__slider owl-carousel">
            {% for i in range(31, data.numberOfRooms) -%}
            <img src="img/reviews/{{i}}.PNG" alt="">
            {%- endfor %}
        </div>
    </div>
</div>
<!--===============================END sec7 ========================================-->
<!--=============================== sec8 ========================================-->
<div class="sec8">
    <div class="container">
        <div class="sec8__content">
            <img src="img/sec8__img.png" alt="" class="sec8__img">
            <div class="sec8__text">
                <div class="sec__title">Екатерина</div>
                <div class="sec8__position">Менеджер Академии Нутрициологии</div>
                <div class="sec8__desc">«Мы постарались максимально подробно рассказать на сайте о нашем курсе. Но, общаясь с нашими будущими студентами ежедневно, мы замечаем, что в суете важная информация может ускользать из внимания. И у вас всё равно остаются вопросы об обучении в Академии.</div>
                <div class="sec8__desc">Предлагаю созвониться и обсудить всё по телефону - это займёт 5-10 минут вашего времени. Зато у вас будет правильное представление о нас и вся необходимая информация о курсе.»</div>
            </div>
        </div>
        <div class="formblock">
            <div class="border__block"></div>
            <img src="img/formblock__img-3.png" alt="" class="formblock__img" style="right: 76px;">
            <div class="formblock__content">
                <div class="formblock__title">Начать обучение</div>
                <form action="" class="hero__formblock__form">
                    <div class="hero__formblock__form__cols">
                        <div class="hero__formblock__form__col">
                            <input class="input" type="text" placeholder="Введите ваше имя">
                        </div>
                        <div class="hero__formblock__form__col">
                            <input data-mask="phone" class="input" type="text" placeholder="Введите ваш телефон">
                        </div>
                        <div class="hero__formblock__form__col hero__formblock__form__col__btn">
                            <button class="btn red">Отправить</button>
                        </div>
                        <div class="hero__formblock__form__checkbox">
                            <label for="checkbox4" class="checkbox__label">
                                <input type="checkbox" id="checkbox4" checked>
                                <div class="box">
                                    <div class="box__circle"></div>
                                </div>
                            </label>
                            <div class="hero__formblock__form__checkbox__text">Отправляя заявку вы соглашаетесь с <a href="/">политикой конфинденциальности</a></div>
                        </div>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</div>
<!--===============================END sec8 ========================================-->


{% endblock %}
