{% set title = 'NSA' %}

{% extends 'layouts/_main.html' %}

{% block content %}

<!--=============================== hero ========================================-->
<div class="hero thanks" id="main">
    <div class="container">
        <h1 class="hero__title">Спасибо за заявку</h1>
        <div class="hero__desc">Заявка успешно отправлена</div>
        <a href="/" class="btn red">Вернуться</a>
        <img src="img/thanks-1.png" alt="" class="hero__people">
    </div>
    
</div>
<!--===============================END hero ========================================-->


{% endblock %}